$primary-color: #333;
$secondary-color: #b3b3b3;
$white: #ffffff;
$black: #000000;
$light-gray: #f8f9fa;
$border-radius: 10px;
$shadow-color: rgba(0, 0, 0, 0.1);
$shadow-hover: rgba(0, 0, 0, 0.3);
$backgroud-color:#b3b3b3;