$color-principal: #000;
$color-secundario: hsla(0, 30%, 83%, 0.389);
$color-gris: #b3b3b3db;
$color-blanco: #ffffff;
$color-hover: bisque;
$color-shadow: rgba(0, 0, 0, 0.3);
$color-slide: #894f4fdb;
$color-border: 1px solid navajowhite;


$font-size-base: 16px;


$ancho-slide: 1450px;
