@use "./abstracts/variables" as vars;
@use "abstracts/mixins" as *;
@use "base/reset" as *;
@use "base/layout" as *;
@use "components/newsletterbutton" as *;
@use "components/whatsappbutton" as *;
@use "layout/nav" as *;
@use "layout/footer" as *;
@use "pages/faqs" as *;
@use "pages/productos" as *;
@use "pages/home" as *;
@use "pages/comocomprar" as *;
