
.footer {
  background-color: rgba(213, 206, 195, 0.405);
  color: #222;
  padding: 1rem 0.4rem;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
  flex-shrink: 0;
  height: auto;   




  &__payments {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }

  &__logo {
    width: 40px;
    height: auto;
    transition: transform 0.2s ease;
    
    &:hover {
      transform: scale(1.1);
    }
  }

  &__social {
    display: flex;
    gap: 1rem;
    justify-content: center;
  }

  &__icon {
    width: 20px;
    height: 20px;
    transition: opacity 0.3s;
    
    &:hover {
      opacity: 0.7;
    }
  }

  &__copy {
    font-size: 11px !important;
    color: #666 !important;
    margin: 0;
    margin-top: auto;
  }
}

.footer__logo {
  width: 50px;
  height: auto;
  transition: transform 0.2s ease;
  
  &:hover {
    transform: scale(1.1);
  }
}
.footer__social {
  display: flex;
  gap: 1rem;
  justify-content: center;
}   
