.footer {
  background-color: rgba(213, 206, 195, 0.405);
  color: #222;
  padding: 2rem 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
  min-height: 80px;
  position: fixed;
  bottom: 0;

  &__payments {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }

  &__logo {
    width: 50px;
    height: auto;
    transition: transform 0.2s ease;
    
    &:hover {
      transform: scale(1.1);
    }
  }

  &__social {
    display: flex;
    gap: 1rem;
    justify-content: center;
  }

  &__icon {
    width: 30px;
    height: 30px;
    transition: opacity 0.3s;
    
    &:hover {
      opacity: 0.7;
    }
  }

  &__copy {
    font-size: 11px !important;
    color: #666 !important;
    margin: 0;
    margin-top: auto;
  }
}
