@use "../abstracts/variables" as vars;
@use "../abstracts/mixins" as m;

.navbar {
  text-align: center;

  .nav-item {
    margin: 10px 0;
  }
}


   #hero-carousel {
    max-height: 90vh;
    overflow: hidden;
  }
  
  #hero-carousel img {
    height: 90vh;
    object-fit: cover;
    filter: brightness(0.7); 
  }
  
  .carousel-caption {
    bottom: 20%;
    color: white;
    text-shadow: 1px 1px 4px rgba(0,0,0,0.7);
  }
  
  .carousel-caption h1,
  .carousel-caption p {
    animation: fadeInUp 1s ease-in-out both;
  }
  
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(25px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  