@use "../abstracts/variables" as vars;
@use "../abstracts/mixins" as m;

.navbar {
  text-align: center;

  .nav-item {
    margin: 10px 0;
  }
}

.swipper-slide {
  display: block;
  margin: 0 auto;
  background-color: vars.$color-gris;
  color: vars.$color-secundario;
  border: none;
  text-align: center;
  @include m.size(100%, auto); // <-- PASÃ LOS VALORES QUE NECESITES

  &:hover {
    color: black;
  }
}

.slide-grid {
  @include m.size(20%, auto);
  margin: 30px;
  max-width: none;
}
