@use "../abstracts/variables" as vars;
@use "../abstracts/mixins" as m;

.navbar {
  text-align: center;

  .nav-item {
    margin: 10px 0;
  }
}

.swipper-slide {
  display: block;
  margin: 0 auto;
  background-color: vars.$color-slide;
  color: vars.$color-principal;
  border: none;
  text-align: center;

 
  @include m.size(100%, auto); 

  
  @media (max-width: 768px) {
    @include m.size(80%, auto); 
  }

  @media (max-width: 480px) {
    @include m.size(90%, auto);
  }

  &:hover {
    color: bisque;
  }
}

.slide-grid {
  @include m.size(20%, auto);
  margin: 30px;
  max-width: 100%;  

  @media (max-width: 768px) {
    @include m.size(40%, auto); }

  @media (max-width: 480px) {
    @include m.size(60%, auto); 
  }
}
