@use "../abstracts/variables" as vars;


.newsletter {
  padding: 15px 20px 60px 20px; // Padding inferior más grande
  margin-bottom: 0; 
  text-align: center;
  background-color: vars.$color-secundario;
}

.form-container {
  margin-top: 20px;
}

.newsletter form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px; // separa los elementos dentro del form

}

.newsletter-btn {
  background-color:rgb(222, 197, 197);
  color: #222;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;


}   
 
