@use "../abstracts/variables" as vars;


.newsletter {
  padding: 15px 20px 60px 20px;
  margin-bottom: 0; 
  text-align: center;
  background-color: vars.$color-secundario;
}

.form-container {
  margin-top: 20px;
}

.newsletter form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px; 

}

.newsletter-btn {
  background-color:rgb(222, 197, 197);
  color: #222;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;


}   
 
.form-success,
.form-error {
  display: none;
  padding: 40px 40px;
  background-color:  hsla(0, 30%, 83%, 0.389);;
  color: #000000;
  text-align: center;

}