@use "../abstracts/variables" as vars ;

.newsletter-btn {
    display: block;
    margin: 20px auto;
    padding: 15px 20px;
    background-color: vars.$color-principal;
    color: vars.$color-secundario;
    border-radius: 50px;
    cursor: pointer;
    appearance: none;
    text-align: center !important;
    letter-spacing: 8px;
    text-transform: uppercase;
    transition: background-color 0.3s ease-in-out;
  }








  
