.whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    background-color: $color-secundario;
    border-radius: 80%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 10px $color-shadow;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    transition: transform 0.3s ease-in-out;
  
    &:hover {
      transform: scale(1.1);
    }
  
    img {
      width: 40px;
      height: 40px;
    }

}