* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    height: 100%; 
    margin: 0; 
  }
  
  .main-content {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
  }
  
  footer {
    margin-top: auto; 
<<<<<<< HEAD
  }
=======
  }
  
>>>>>>> 47402b4710ea15197aedd66405b49e2b03dede0d
